* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  align-items: center;
  background-color: #86aba1;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
}

.header {
  align-items: center;
  background-color: #206a5d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.header__title {
  color: white;
  font-size: 32px;
}

.header__subtitle {
  color: white;
  font-size: 18px;
}

.content {
  /*   border-style: solid; */
  display: flex;
  height: 500px;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.content__figuras {
  align-items: center;

  border-radius: 20px;
  /*   border-color: #5c3d2e;
  border-style: solid; */
  display: flex;
  flex-direction: column;
  min-width: 850px;
  width: 1250px;
}

.content__figuras--row-1 {
  align-items: center;
  display: flex;
  width: 1000px;
  height: 350px;
  justify-content: space-around;
  /* border-color: red;
  border-style: solid; */
}

.content__figuras--row-2 {
  display: flex;
}

.content__figuras--row-3 {
  display: flex;
}

.figuras__card {
  background-color: #6f480e;
  align-items: center;
  display: flex;
  height: 285px;
  width: 270px;
  border-style: solid;
  border-color: white;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
}

.figuras__card--title {
  color: white;
  font-size: 20px;
  text-align: center;
}

.figuras__card--p {
  color: white;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  font-size: 14px;
  text-align: center;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  outline: none;
  width: 150px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input::placeholder {
  text-align: center;
  color: white;
  font-weight: 200;
}

.figuras__card--buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 45px;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  letter-spacing: 1px;
  width: 100px;
  border: 2px solid white;
}

.button:hover {
  background-color: #85603f;
}
