* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  align-items: center;
  background-color: #3db2ff;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
}

.header {
  align-items: center;
  background-color: #206a5d;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.header__title {
  color: white;
  font-size: 32px;
}

.header__icon {
  color: #f58634;
  font-size: 37px;
}

.content {
  border-style: solid;
  display: flex;
  height: 500px;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.content__taller {
  border-color: #5c3d2e;
  border-radius: 20px;
  border-style: solid;
  min-width: 850px;
  width: 1250px;
}

.content__taller--title {
  align-items: center;
  background-color: #be0000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  display: flex;
  font-size: 22px;
  height: 40px;
  justify-content: center;
}
